body { background: #7c0639; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 55px; display: flex; }
.block-email-0 { color: #ed1b1c; font-size: 13px; margin-bottom: 5px; }
.block-filter-1 { color: #91227a; font-size: 20px; margin-bottom: 5px; }
.block-email-2 { color: #ccf46; font-size: 19px; margin-bottom: 5px; }
.block-email-3 { color: #49904; font-size: 17px; margin-bottom: 5px; }
.block-notify-4 { color: #cf189c; font-size: 17px; margin-bottom: 5px; }
.block-notify-5 { color: #10541e; font-size: 18px; margin-bottom: 5px; }
.block-user-6 { color: #7a090f; font-size: 15px; margin-bottom: 5px; }